.container {
  width: 100%;
  height: 100vh;
  background-color: #04151f;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  background-color: #efd6ac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #04151f;
  font-size: 18px;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.display-container {
  width: 468px;
  height: 50px;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #efd6ac;
}

.input-field-wrapper {
  display: flex;
  flex: 1;
}

.cta-wrapper {
  padding-left: 32px;
}

.flutter-view {
  width: 500px;
  height: 500px;
  margin: 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #efd7ae;
  border-radius: 10px;
}

.display-text {
  font-weight: 600;
  color: #ce035f;
}
