.container {
  width: 100%;
  height: 100vh;
  background-color: #04151f;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  background-color: #efd6ac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #04151f;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 468px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #efd6ac;
}

.input-field-wrapper {
  display: flex;
  flex: 1;
}

.cta-wrapper {
  padding-left: 32px;
}

#flutterView {
  width: 500px;
  height: 500px;
  background-color: #efd6ac;
  border-radius: 10px;
}
